name: Deploy Strapi to ECS

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    env:
      AWS_REGION: ap-south-1
      ECR_REPOSITORY: strapi-ecs-ahmad

    steps:
      # Checkout code
      - name: Checkout code
        uses: actions/checkout@v3

      # Configure AWS credentials
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      # Setup Terraform
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.6.2

      # Terraform Init
      - name: Terraform Init
        run: terraform -chdir=terraform init

      # Terraform Apply (Create Infrastructure First)
      - name: Terraform Apply
        run: |
          terraform -chdir=terraform apply -auto-approve \
            -var="aws_region=${AWS_REGION}" \
            -var="aws_account_id=${{ secrets.AWS_ACCOUNT_ID }}" \
            -var="strapi_db_password=${{ secrets.STRAPI_DB_PASSWORD }}" \
            -var="image_tag=${GITHUB_SHA}"

      # Login to Amazon ECR
      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v1

      # Build & Push Docker Image
      - name: Build and push Docker image
        run: |
          IMAGE_TAG=${GITHUB_SHA}
          IMAGE_URI=${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${AWS_REGION}.amazonaws.com/${ECR_REPOSITORY}:${IMAGE_TAG}

          echo "Building image: $IMAGE_URI"

          docker build -t $IMAGE_URI .
          docker push $IMAGE_URI